<header class="site-header" role="banner" id="site-header">
  <div class="wrapper">
    <div class="branding">
      <div class="logo">
        <a href="/" href="{{ "/" | relative_url }}">
          <img src="/assets/headshot.jpg">
        </a>
      </div>
      <div class="identity">
        <div class="title">
          <a href="/" href="{{ "/" | relative_url }}">
            {{ site.title | escape }}
          </a>
        </div>
        <div class="tagline">{{ site.tagline | escape }}</div>
      </div>
    </div>

    <nav class="navigation">
      <ul class="main-menu">
        {%- if page.name == 'index.md' -%}
          <li class="active"><a href="{{ '/' | relative_url }}">Home</a></li>
        {%- else -%}
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
        {%- endif -%}
        {%- for p in site.pages -%}
          {%- if p.menu_title -%}
            {%- if p.name == page.name -%}
              <li class="active">
                <a href="{{ p.url | relative_url }}" title="{{ p.title | escape }}">
                  {{ p.menu_title | escape }}
                </a>
              </li>
            {%- else -%}
              <li>
                <a href="{{ p.url | relative_url }}" title="{{ p.title | escape }}">
                  {{ p.menu_title | escape }}
                </a>
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>

      {%- if site.social_icons -%}
      <div class="social-icons">
        {%- for icon in site.social_icons -%}
        <a href="{{ icon[1] }}" target="_blank" rel="nofollow" class="{{ icon[0] }}">
          {%- assign file = 'icon-' | append: icon[0] | append: '.html' -%}
          {%- include {{ file }} -%}
        </a>
        {%- endfor -%}
      </div>
      {%- endif -%}
    </nav>

    <span class="menu-icon" id="menu-icon">
      <svg viewBox="0 0 18 15" width="18px" height="15px" class="veggie-burger">
        <path
          d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z" />
      </svg>
      <svg viewBox="0 0 15 15" width="15px" height="15px" class="cross">
        <path
          d="m 15,12.0707 q 0,0.5051 -0.353535,0.8586 l -1.717172,1.7172 Q 12.575757,15 12.070707,15 11.565656,15 11.212121,14.6465 L 7.5,10.9343 3.7878788,14.6465 Q 3.4343434,15 2.9292929,15 2.4242424,15 2.0707071,14.6465 L 0.35353535,12.9293 Q 0,12.5758 0,12.0707 0,11.5657 0.35353535,11.2121 L 4.0656566,7.5 0.35353535,3.7879 Q 0,3.4343 0,2.9293 0,2.4242 0.35353535,2.0707 L 2.0707071,0.3535 Q 2.4242424,0 2.9292929,0 3.4343434,0 3.7878788,0.3535 L 7.5,4.0657 11.212121,0.3535 Q 11.565656,0 12.070707,0 q 0.50505,0 0.858586,0.3535 l 1.717172,1.7172 Q 15,2.4242 15,2.9293 15,3.4343 14.646465,3.7879 L 10.934343,7.5 14.646465,11.2121 Q 15,11.5657 15,12.0707 Z" />
      </svg>
    </span>
  </div>
</header>
