.dark-mode-toggle {
  background-color: $dark-mode-background-color;
  color: $dark-mode-heading-color;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;

  svg {
    fill: $dark-mode-heading-color;
    color: $dark-mode-heading-color;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .moon {
    display: block;
  }

  .lightbulb {
    display: none;
  }
}