
@mixin dark-mode($dark) {
  background-color: if($dark, $dark-mode-background-color, $background-color);
  color: if($dark, $dark-mode-text-color, $text-color);

  h1, h2, h3, h4, h5, h6 {
    color: if($dark, $dark-mode-heading-color, $heading-color);
  }

  blockquote {
    color: if($dark, $dark-mode-blockquote-text-color, $blockquote-text-color);
    background-color: if($dark, $dark-mode-blockquote-background-color, $blockquote-background-color);
    border-left-color: if($dark, $dark-mode-blockquote-tab-color, $blockquote-tab-color);
  }

  hr {
    background-color: if($dark, $dark-mode-divider-color, $divider-color);
  }

  pre, code {
    border-color: if($dark, $dark-mode-code-divider-color, $code-divider-color);
    background-color: if($dark, $dark-mode-code-background-color, $code-background-color);
    color: if($dark, $dark-mode-code-text-color, $code-text-color);
  }

  .site-header {
    background-color: if($dark, $dark-mode-header-background-color, $header-background-color);
    color: if($dark, $dark-mode-header-text-color, $header-text-color);
    border-bottom-color: if($dark, $dark-mode-header-divider-color, $header-divider-color);
    border-right-color: if($dark, $dark-mode-header-divider-color, $header-divider-color);

    a {
      color: if($dark, $dark-mode-header-link-color, $header-link-color);
    }

    .navigation {
      background: if($dark, $dark-mode-header-background-color, $header-background-color);

      .main-menu {
        border-top-color: if($dark, $dark-mode-header-divider-color, $header-divider-color);

        li {
          border-bottom-color: if($dark, $dark-mode-header-divider-color, $header-divider-color);
        }
      }
    }

    .menu-icon {
      background-color: if($dark, $dark-mode-header-mobile-menu-icon-background-color, $header-mobile-menu-icon-background-color);
      color: if($dark, $dark-mode-header-mobile-menu-icon-color, $header-mobile-menu-icon-color);
      fill: if($dark, $dark-mode-header-mobile-menu-icon-color, $header-mobile-menu-icon-color);

      &:hover {
        color: if($dark, $dark-mode-header-mobile-menu-icon-hover-color, $header-mobile-menu-icon-hover-color);
        fill: if($dark, $dark-mode-header-mobile-menu-icon-hover-color, $header-mobile-menu-icon-hover-color);
      }
    }

    .branding {
      .identity {
        .title {
          color: if($dark, $dark-mode-header-title-color, $header-title-color);

          a {
            color: if($dark, $dark-mode-header-title-color, $header-title-color);
          }
        }
      }
    }
  }

  .page-title {
    color: if($dark, $dark-mode-page-title-color, $page-title-color);

    &::after {
      box-shadow: inset 0 1px 0 0 if($dark, $dark-mode-divider-color, $divider-color);
      border-left-color: if($dark, $dark-mode-page-title-divider-highlight-color, $page-title-divider-highlight-color);
    }
  }

  .page-title-part {
    color: if($dark, $dark-mode-page-title-part-color, $page-title-part-color);
  }

  .page-subtitle {
    color: if($dark, $dark-mode-page-subtitle-color, $page-subtitle-color);
  }

  .page-meta {
    color: if($dark, $dark-mode-page-meta-color, $page-meta-color);
  }


  .post-list {
    .post-list-item {
      .post-list-item-link {
        &::after {
          box-shadow: inset 0 1px 0 0 if($dark, $dark-mode-post-list-item-divider-color, $post-list-item-divider-color);
        }

        .post-list-item-title {
          color: if($dark, $dark-mode-post-list-item-title-color, $post-list-item-title-color);

          .post-list-item-title-part {
            color: if($dark, $dark-mode-post-list-item-title-part-color, $post-list-item-title-part-color);
          }
        }

        .post-list-item-subtitle {
          color: if($dark, $dark-mode-post-list-item-subtitle-color, $post-list-item-subtitle-color);
        }

        .post-list-item-summary {
          color: if($dark, $dark-mode-post-list-item-summary-color, $post-list-item-summary-color);
        }

        .post-list-item-meta {
          color: if($dark, $dark-mode-post-list-item-meta-color, $post-list-item-meta-color);
        }
      }
    }
  }

  table {
    color: if($dark, $dark-mode-table-text-color, $table-text-color);
    border-color: if($dark, $dark-mode-table-border-color, $table-border-color);

    tr {
      &:nth-child(even) {
        background-color: if($dark, $dark-mode-table-alt-row-background-color, $table-alt-row-background-color);
      }
    }
    th {
      background-color: if($dark, $dark-mode-table-heading-background-color, $table-heading-background-color);
      border: if($dark, $dark-mode-table-heading-border-color, $table-heading-border-color);
      border-bottom-color: if($dark, $dark-mode-table-heading-border-bottom-color, $table-heading-border-bottom-color);
    }
    td {
      border-color: if($dark, $dark-mode-table-cell-border-color, $table-cell-border-color);
    }
  }

  .highlight {
    background: if($dark, $dark-mode-code-background-color, $code-background-color);
    color: if($dark, $dark-mode-code-text-color, $code-text-color);

    pre, code, table, .highlighter-rouge & {
      background: if($dark, $dark-mode-code-background-color, $code-background-color);
      color: if($dark, $dark-mode-code-text-color, $code-text-color);
    }

    .gh, .gp, .gs, .gu {
      font-weight: bold;
    }

    .hll   { color: if($dark, $dark-mode-code-background-color-hll, $code-background-color-hll) }
    .c     { color: if($dark, $dark-mode-code-text-color-c, $code-text-color-c) }
    .err   { color: if($dark, $dark-mode-code-text-color-err, $code-text-color-err) }
    .k     { color: if($dark, $dark-mode-code-text-color-k, $code-text-color-k) }
    .l     { color: if($dark, $dark-mode-code-text-color-l, $code-text-color-l) }
    .n     { color: if($dark, $dark-mode-code-text-color-n, $code-text-color-n) }
    .h     { color: if($dark, $dark-mode-code-text-color-h, $code-text-color-h) }
    .o     { color: if($dark, $dark-mode-code-text-color-o, $code-text-color-o) }
    .p     { color: if($dark, $dark-mode-code-text-color-p, $code-text-color-p) }
    .cm    { color: if($dark, $dark-mode-code-text-color-cm, $code-text-color-cm) }
    .cp    { color: if($dark, $dark-mode-code-text-color-cp, $code-text-color-cp) }
    .c1    { color: if($dark, $dark-mode-code-text-color-c1, $code-text-color-c1) }
    .cs    { color: if($dark, $dark-mode-code-text-color-cs, $code-text-color-cs) }
    .gd    { color: if($dark, $dark-mode-code-text-color-gd, $code-text-color-gd) }
    .gh    { color: if($dark, $dark-mode-code-text-color-gh, $code-text-color-gh) }
    .gi    { color: if($dark, $dark-mode-code-text-color-gi, $code-text-color-gi) }
    .gp    { color: if($dark, $dark-mode-code-text-color-gp, $code-text-color-gp) }
    .gu    { color: if($dark, $dark-mode-code-text-color-gu, $code-text-color-gu) }
    .kc    { color: if($dark, $dark-mode-code-text-color-kc, $code-text-color-kc) }
    .kd    { color: if($dark, $dark-mode-code-text-color-kd, $code-text-color-kd) }
    .kn    { color: if($dark, $dark-mode-code-text-color-kn, $code-text-color-kn) }
    .kp    { color: if($dark, $dark-mode-code-text-color-kp, $code-text-color-kp) }
    .kr    { color: if($dark, $dark-mode-code-text-color-kr, $code-text-color-kr) }
    .kt    { color: if($dark, $dark-mode-code-text-color-kt, $code-text-color-kt) }
    .ld    { color: if($dark, $dark-mode-code-text-color-ld, $code-text-color-ld) }
    .m     { color: if($dark, $dark-mode-code-text-color-m, $code-text-color-m) }
    .s     { color: if($dark, $dark-mode-code-text-color-s, $code-text-color-s) }
    .n     { color: if($dark, $dark-mode-code-text-color-n, $code-text-color-n) }
    .na    { color: if($dark, $dark-mode-code-text-color-na, $code-text-color-na) }
    .nb    { color: if($dark, $dark-mode-code-text-color-nb, $code-text-color-nb) }
    .nc    { color: if($dark, $dark-mode-code-text-color-nc, $code-text-color-nc) }
    .no    { color: if($dark, $dark-mode-code-text-color-no, $code-text-color-no) }
    .nd    { color: if($dark, $dark-mode-code-text-color-nd, $code-text-color-nd) }
    .ni    { color: if($dark, $dark-mode-code-text-color-ni, $code-text-color-ni) }
    .ne    { color: if($dark, $dark-mode-code-text-color-ne, $code-text-color-ne) }
    .nf    { color: if($dark, $dark-mode-code-text-color-nf, $code-text-color-nf) }
    .nl    { color: if($dark, $dark-mode-code-text-color-nl, $code-text-color-nl) }
    .nn    { color: if($dark, $dark-mode-code-text-color-nn, $code-text-color-nn) }
    .nx    { color: if($dark, $dark-mode-code-text-color-nx, $code-text-color-nx) }
    .py    { color: if($dark, $dark-mode-code-text-color-py, $code-text-color-py) }
    .nt    { color: if($dark, $dark-mode-code-text-color-nt, $code-text-color-nt) }
    .nv    { color: if($dark, $dark-mode-code-text-color-nv, $code-text-color-nv) }
    .ow    { color: if($dark, $dark-mode-code-text-color-ow, $code-text-color-ow) }
    .w     { color: if($dark, $dark-mode-code-text-color-w, $code-text-color-w) }
    .mf    { color: if($dark, $dark-mode-code-text-color-mf, $code-text-color-mf) }
    .mh    { color: if($dark, $dark-mode-code-text-color-mh, $code-text-color-mh) }
    .mi    { color: if($dark, $dark-mode-code-text-color-mi, $code-text-color-mi) }
    .mo    { color: if($dark, $dark-mode-code-text-color-mo, $code-text-color-mo) }
    .sb    { color: if($dark, $dark-mode-code-text-color-sb, $code-text-color-sb) }
    .sc    { color: if($dark, $dark-mode-code-text-color-sc, $code-text-color-sc) }
    .sd    { color: if($dark, $dark-mode-code-text-color-sd, $code-text-color-sd) }
    .s2    { color: if($dark, $dark-mode-code-text-color-s2, $code-text-color-s2) }
    .se    { color: if($dark, $dark-mode-code-text-color-se, $code-text-color-se) }
    .sh    { color: if($dark, $dark-mode-code-text-color-sh, $code-text-color-sh) }
    .si    { color: if($dark, $dark-mode-code-text-color-si, $code-text-color-si) }
    .sx    { color: if($dark, $dark-mode-code-text-color-sx, $code-text-color-sx) }
    .sr    { color: if($dark, $dark-mode-code-text-color-sr, $code-text-color-sr) }
    .s1    { color: if($dark, $dark-mode-code-text-color-s1, $code-text-color-s1) }
    .ss    { color: if($dark, $dark-mode-code-text-color-ss, $code-text-color-ss) }
    .bp    { color: if($dark, $dark-mode-code-text-color-bp, $code-text-color-bp) }
    .vc    { color: if($dark, $dark-mode-code-text-color-vc, $code-text-color-vc) }
    .vg    { color: if($dark, $dark-mode-code-text-color-vg, $code-text-color-vg) }
    .vi    { color: if($dark, $dark-mode-code-text-color-vi, $code-text-color-vi) }
    .il    { color: if($dark, $dark-mode-code-text-color-il, $code-text-color-il) }
  }


  .theme-toggle {
    background-color: if($dark, $dark-mode-theme-toggle-background-color, $theme-toggle-background-color);
    color: if($dark, $dark-mode-theme-toggle-text-color, $theme-toggle-text-color);

    svg {
      fill: if($dark, $dark-mode-theme-toggle-text-color, $theme-toggle-text-color);
      color: if($dark, $dark-mode-theme-toggle-text-color, $theme-toggle-text-color);
    }

    .moon {
      display: if($dark, none, block);
    }

    .lightbulb {
      display: if($dark, block, none);
    }
  }
}