.site-header {
  display: flex;
  align-items: center;
  position: $header-mobile-position;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-mobile-height;
  background: $header-background-color;
  color: $header-text-color;
  overflow: hidden;
  border-bottom: 1px solid $header-divider-color;
  z-index: 10000000;

  a {
    color: $header-link-color;

    &:hover {
      text-decoration: none;
    }
  }


  &.attached {
    position: fixed;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $header-mobile-vertical-padding $header-mobile-horizontal-padding;

    @extend %no-clearfix;
  }

  .branding {
    display: flex;
    align-items: center;
    flex: 1;

    .logo {
      width: $header-mobile-height - ($header-mobile-horizontal-padding * 2);
      height: $header-mobile-height - ($header-mobile-vertical-padding * 2);
      border-radius: 50%;
      box-shadow: $header-logo-box-shadow;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .identity {
      padding: 0 0 0 $header-mobile-horizontal-padding;

      .title {
        font-family: $header-title-font-family;
        font-size: $header-title-mobile-font-size;
        font-weight: 700;
        line-height: 1;
        // letter-spacing: -1px;
        color: $header-title-color;
      }

      .tagline {
        font-size: 0.85rem;
        margin-left: 0.1rem;
      }
    }
  }

  .navigation {
    position: fixed;
    top: $header-mobile-height;
    left: -100%;
    width: 100%;
    height: calc(100% - #{$header-mobile-height});
    background: $header-background-color;
    padding: 0 $header-mobile-horizontal-padding;
    transition: left .2s ease-in-out;

    .main-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      text-align: center;
      
      li {
        padding: 0;
        border-bottom: 1px solid $header-divider-color;

        a {
          display: block;
          padding: 0.5em 0;
        }

        &.active {
          color: $header-navigation-active-color;

          a {
            color: $header-navigation-active-color;
          }
        }

        a:hover {
          color: $header-navigation-hover-color;
        }
      }
    }

    .social-icons {
      margin-top: $header-mobile-vertical-padding;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a {
        margin-left: 0.5em;
        border: 1px solid $header-divider-color;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        color: $header-link-color;
        fill: $header-link-color;

        &:first-child {
          margin-left: 0;
        }

        &.github { background-color: #333; color: #fff; fill: #fff; }
        &.linkedin { background-color: #0077b5; color: #fff; fill: #fff; }
        &.twitter { background-color: #1da1f2; color: #fff; fill: #fff; }
        &.stackoverflow { background-color: #f48024; color: #fff; fill: #fff; }
        &.facebook { background-color: #3b5998; color: #fff; fill: #fff; }

        &.linkedin svg, &.stackoverflow svg {
          margin-top: -2px;
        }

        &:hover {
          border: 0;
        }
      }
    }
  }

  .menu-icon {
    color: $header-mobile-menu-icon-color;
    fill: $header-mobile-menu-icon-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $header-mobile-menu-icon-hover-color;
      fill: $header-mobile-menu-icon-hover-color;
      cursor: pointer;
    }

    .cross {
      display: none;
    }
  }
}

// Mobile active menu mode
.site-header.active {
  .navigation {
    left: 0;
    display: block;
  }

  .menu-icon {
    .cross {
      display: inherit;
    }

    .veggie-burger {
      display: none;
    }
  }
}

// Table/Desktop mode
@include media($md) {
  .site-header {
    position: fixed;
    width: $header-width;
    top: 0;
    left: auto;
    margin-left: -$header-width;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: none;
    border-right: 1px solid $header-divider-color;

    .wrapper {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: $header-vertical-padding $header-padding;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .branding {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .logo {
        width: $header-logo-size;
        height: $header-logo-size;
      }

      .identity {
        margin-top: $header-padding / 2;
        padding: 0;
        text-align: center;
        
        .title {
          font-size: $header-title-font-size;
          line-height: 1.2;
        }

        .tagline {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }

    .menu-icon {
      display: none;
    }

    .navigation {
      display: block;
      position: static;
      top: auto;
      left: auto;
      height: auto;
      margin-top: $header-padding / 2;
      padding: 0;
      background-color: inherit;

      .main-menu {
        border-top: 1px solid $header-divider-color;
      }

      .social-icons {
        margin-top: $header-padding / 2;
      }
    }
  }
}
