.post-list {
  margin-left: 0;
  list-style: none;

  .post-list-item {
    margin-bottom: $post-list-item-gap;

    .post-list-item-link {
      display: block;
      text-decoration: none;
      position: relative;

      &::after {
        border-left: 0px solid $post-list-item-divider-hover-color;
        box-shadow: inset 0 1px 0 0 $post-list-item-divider-color;
        display: block;
        content: "";
        height: 3px;
        margin-top: $post-list-item-gap;
        transition: border-left 0.2s;

        @include dark-mode {
          box-shadow: inset 0 1px 0 0 $dark-mode-post-list-item-divider-color;
        }
      }

      .post-list-item-title {
        color: $post-list-item-title-color;
        font-size: $mobile-post-list-item-title-font-size;
        margin: $mobile-post-list-item-internal-gap 0;

        @include dark-mode {
          color: $dark-mode-post-list-item-title-color;
        }

        @include media($md) {
          font-size: $post-list-item-title-font-size;
          margin: $post-list-item-internal-gap 0;
        }

        .post-list-item-title-part {
          font-size: $mobile-post-list-item-title-part-font-size;
          font-style: italic;
          color: $post-list-item-title-part-color;
          display: inline-block;

          &::before {
            content: " ";
            display: inline-block;
          }

          @include dark-mode {
            color: $dark-mode-post-list-item-title-part-color;
          }
        
          @include media($md) {
            font-size: $post-list-item-title-part-font-size;
          }
        }
      }

      .post-list-item-subtitle {
        color: $post-list-item-subtitle-color;
        font-size: $mobile-post-list-item-subtitle-font-size;
        margin: $mobile-post-list-item-internal-gap 0;
        font-style: italic;
        
        @include dark-mode {
          color: $dark-mode-post-list-item-subtitle-color;
        }
        
        @include media($md) {
          font-size: $post-list-item-subtitle-font-size;
          margin: $post-list-item-internal-gap 0;
        }
      }
      
      .post-list-item-summary {
        color: $post-list-item-summary-color;
        font-size: $mobile-post-list-item-summary-font-size;
        margin: $mobile-post-list-item-internal-gap 0;
        display: none;
        
        @include dark-mode {
          color: $dark-mode-post-list-item-summary-color;
        }
        
        @include media($md) {
          font-size: $post-list-item-summary-font-size;
          margin: $post-list-item-internal-gap 0;
          display: block;
        }
      }

      .post-list-item-meta {
        color: $post-list-item-meta-color;
        font-size: $mobile-post-list-item-meta-font-size;
        margin: 0;

        @include dark-mode {
          color: $dark-mode-post-list-item-meta-color;
        }

        @include media($md) {
          font-size: $post-list-item-meta-font-size;
        }
      }

      &:hover {
        &::after {
          border-left-width: 30px;
        }

        .post-list-item-title, .post-list-item-title-part {
          color: $post-list-item-title-hover-color;
        }
      }
    }
  }
}
