/**
 * Syntax highlighting styles
 */
.highlight {
  background: $code-background-color;
  color: $code-text-color;
  @extend %vertical-rhythm;

  .o, .ow, .cp, .cs, .gs, .k, .kc, .kd, .kn, .kp, .kr, .kt, .ne {
    font-weight: bold;
  }
  .c,.cm,.c1,.cs, .ge {
    font-style: italic;
  }

  .err   { color: $code-text-color-err; } // Error
  .o     { color: $code-text-color-o; } // Operator
  .ow    { color: $code-text-color-ow; } // Operator.Word
  .c     { color: $code-text-color-c; } // Comment
  .cm    { color: $code-text-color-cm; } // Comment.Multiline
  .cp    { color: $code-text-color-cp; } // Comment.Preproc
  .c1    { color: $code-text-color-c1; } // Comment.Single
  .cs    { color: $code-text-color-cs; } // Comment.Special
  .gd    { color: $code-text-color-gd; background-color: $code-background-color-gd; } // Generic.Deleted
  .gd .x { color: $code-text-color-gd-x; background-color: $code-background-color-gd-x; } // Generic.Deleted.Specific
  .gr    { color: $code-text-color-gr; } // Generic.Error
  .gh    { color: $code-text-color-gh; } // Generic.Heading
  .gi    { color: $code-text-color-gi; background-color: $code-background-color-gi; } // Generic.Inserted
  .gi .x { color: $code-text-color-gi-x; background-color: $code-background-color-gi-x; } // Generic.Inserted.Specific
  .go    { color: $code-text-color-go; } // Generic.Output
  .gp    { color: $code-text-color-gp; } // Generic.Prompt
  .gu    { color: $code-text-color-gu; } // Generic.Subheading
  .gt    { color: $code-text-color-gt; } // Generic.Traceback
  .k     { color: $code-text-color-k; } // Keyword
  .kc    { color: $code-text-color-kc; } // Keyword.Constant
  .kd    { color: $code-text-color-kd; } // Keyword.Declaration
  .kn    { color: $code-text-color-kn; } // Keyword.Namespace
  .kp    { color: $code-text-color-kp; } // Keyword.Pseudo
  .kr    { color: $code-text-color-kr; } // Keyword.Reserved
  .kt    { color: $code-text-color-kt; } // Keyword.Type
  .m     { color: $code-text-color-m; } // Literal.Number
  .s     { color: $code-text-color-s; } // Literal.String
  .n     { color: $code-text-color-n; } // Name
  .na    { color: $code-text-color-na; } // Name.Attribute
  .nb    { color: $code-text-color-nb; } // Name.Builtin
  .nc    { color: $code-text-color-nc; } // Name.Class
  .no    { color: $code-text-color-no; } // Name.Constant
  .ni    { color: $code-text-color-ni; } // Name.Entity
  .nd    { color: $code-text-color-nd; } // Name.Decorator
  .ne    { color: $code-text-color-ne; } // Name.Exception
  .nf    { color: $code-text-color-nf; } // Name.Function
  .nn    { color: $code-text-color-nn; } // Name.Namespace
  .nt    { color: $code-text-color-nt; } // Name.Tag
  .nv    { color: $code-text-color-nv; } // Name.Variable
  .vc    { color: $code-text-color-vc; } // Name.Variable.Class
  .vg    { color: $code-text-color-vg; } // Name.Variable.Global
  .vi    { color: $code-text-color-vi; } // Name.Variable.Instance
  .w     { color: $code-text-color-w; } // Text.Whitespace
  .mf    { color: $code-text-color-mf; } // Literal.Number.Float
  .mh    { color: $code-text-color-mh; } // Literal.Number.Hex
  .mi    { color: $code-text-color-mi; } // Literal.Number.Integer
  .mo    { color: $code-text-color-mo; } // Literal.Number.Oct
  .il    { color: $code-text-color-il; } // Literal.Number.Integer.Long
  .sb    { color: $code-text-color-sb; } // Literal.String.Backtick
  .sc    { color: $code-text-color-sc; } // Literal.String.Char
  .sd    { color: $code-text-color-sd; } // Literal.String.Doc
  .s2    { color: $code-text-color-s2; } // Literal.String.Double
  .se    { color: $code-text-color-se; } // Literal.String.Escape
  .sh    { color: $code-text-color-sh; } // Literal.String.Heredoc
  .si    { color: $code-text-color-si; } // Literal.String.Interpol
  .sx    { color: $code-text-color-sx; } // Literal.String.Other
  .sr    { color: $code-text-color-sr; } // Literal.String.Regex
  .s1    { color: $code-text-color-s1; } // Literal.String.Single
  .ss    { color: $code-text-color-ss; } // Literal.String.Symbol
  .bp    { color: $code-text-color-bp; } // Name.Builtin.Pseudo
}
