@charset "utf-8";
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i);
// @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway&display=swap');

// Define defaults for each variable.

// ===
// Base font sizing
//
// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
// $base-font-family:                              "Roboto", Arial, sans-serif !default;
// $base-font-family:                              "Fira Sans", Arial, sans-serif !default;
// $base-font-family:                              "Oxygen", Arial, sans-serif !default;
$base-font-family:                              Lato, Arial, sans-serif !default;
$base-code-font-family:                         monospace !default;
// $base-heading-font-family:                      "Roboto", Arial, sans-serif !default;
// $base-heading-font-family:                      "Fira Sans", Arial, sans-serif !default;
// $base-heading-font-family:                      "Oxygen", Arial, sans-serif !default;
$base-heading-font-family:                      Lato, Arial, sans-serif !default;
$base-heading-font-size-multiplier:             0.9;
$base-font-size:                                18px !default;
$base-font-weight:                              400 !default;
$base-line-height:                              1.6 !default;

$caption-font-size:                             $base-font-size * 0.875 !default; // TODO - Remove *
$h1-font-size:                                  2rem !default;
$h2-font-size:                                  1.5rem !default;
$h3-font-size:                                  1.17rem !default;
$h4-font-size:                                  1rem !default;
$h5-font-size:                                  .83rem !default;
$h6-font-size:                                  .67rem !default;

// ===
// General spacing
//
$spacing-unit:                                  40px !default;

// ===
// Base colours
//
// $heading-color:                                 #33383f !default;
$heading-color:                                 #000000 !default;
$subheading-color:                              #555555 !default;
// $text-color:                                    #555e69 !default;
$text-color:                                    #000000 !default;
$background-color:                              #fdfdfd !default;
// $brand-color:                                   #10bcf9 !default;
$brand-color:                                   #9e5eda !default;
$divider-color:                                 #e8e8e8 !default;
$offset-background-color:                       #efeffa !default;//#eef !default;
$offset-color:                                  lighten($text-color, 10%) !default;
$link-color:                                    $brand-color !default;
$link-hover-color:                              $brand-color !default;

$dark-mode-heading-color:                       #ebe9f1 !default;
$dark-mode-text-color:                          #eeeeef !default;//#cccccc !default;
$dark-mode-background-color:                    #1c191f !default;
$dark-mode-divider-color:                       #2b2b2b !default;//#222225 !default;
$dark-mode-offset-background-color:             lighten($dark-mode-background-color, 2%) !default;
$dark-mode-offset-color:                        #c5c8c6 !default;

// ===
// Meta
//
$meta-color:                                    lighten($text-color, 15%) !default;
$dark-mode-meta-color:                          darken($dark-mode-text-color, 15%) !default;

// ===
// Code/Pre
//
$code-background-color:                         $offset-background-color !default;
$code-text-color:                               $offset-color !default;
$code-divider-color:                            $divider-color !default;

$code-background-color-gd-x: #faa;
$code-background-color-gd: #fdd;
$code-background-color-gi-x: #afa;
$code-background-color-gi: #dfd;
$code-background-color-hll: #373b41;
$code-text-color-bp: #999;
$code-text-color-c: #998;
$code-text-color-c1: #998;
$code-text-color-cm: #998;
$code-text-color-cp: #999;
$code-text-color-cs: #999;
$code-text-color-err: #a61717;
$code-text-color-gd-x: #000;
$code-text-color-gd: #000;
$code-text-color-gh: #999;
$code-text-color-gi-x: #000;
$code-text-color-gi: #000;
$code-text-color-go: #888;
$code-text-color-gp: #555;
$code-text-color-gr: #a00;
$code-text-color-gt: #a00;
$code-text-color-gu: #aaa;
$code-text-color-h: $code-text-color;
$code-text-color-il: #099;
$code-text-color-k: $code-text-color;
$code-text-color-kc: $code-text-color;
$code-text-color-kd: $code-text-color;
$code-text-color-kn: $code-text-color;
$code-text-color-kp: $code-text-color;
$code-text-color-kr: $code-text-color;
$code-text-color-kt: #458;
$code-text-color-l: #de935f;
$code-text-color-ld: #b5bd68;
$code-text-color-m: #099;
$code-text-color-mf: #099;
$code-text-color-mh: #099;
$code-text-color-mi: #099;
$code-text-color-mo: #099;
$code-text-color-n: #008080;
$code-text-color-na: #008080;
$code-text-color-nb: #0086B3;
$code-text-color-nc: #458;
$code-text-color-nd: #008080;
$code-text-color-ne: #900;
$code-text-color-nf: #900;
$code-text-color-ni: #800080;
$code-text-color-nl: #f0c674;
$code-text-color-nn: #008080;
$code-text-color-no: #008080;
$code-text-color-nt: #000080;
$code-text-color-nv: #008080;
$code-text-color-nx: #81a2be;
$code-text-color-o: $code-text-color;
$code-text-color-ow: $code-text-color;
$code-text-color-p: $code-text-color;
$code-text-color-py: $code-text-color;
$code-text-color-s: #d14;
$code-text-color-s1: #d14;
$code-text-color-s2: #d14;
$code-text-color-sb: #d14;
$code-text-color-sc: #d14;
$code-text-color-sd: #d14;
$code-text-color-se: #d14;
$code-text-color-sh: #d14;
$code-text-color-si: #d14;
$code-text-color-sr: #009926;
$code-text-color-ss: #990073;
$code-text-color-sx: #d14;
$code-text-color-vc: #008080;
$code-text-color-vg: #008080;
$code-text-color-vi: #008080;
$code-text-color-w: #bbb;

$dark-mode-code-background-color:               $dark-mode-offset-background-color !default;
$dark-mode-code-text-color:                     $dark-mode-offset-color !default;
$dark-mode-code-divider-color:                  $dark-mode-divider-color !default;

$dark-mode-code-background-color-gd-x: #faa;
$dark-mode-code-background-color-gd: #fdd;
$dark-mode-code-background-color-gi-x: #afa;
$dark-mode-code-background-color-gi: #dfd;
$dark-mode-code-background-color-hll: #373b41;
$dark-mode-code-text-color-bp: $dark-mode-code-text-color;
$dark-mode-code-text-color-c: #969896;
$dark-mode-code-text-color-c1: #969896;
$dark-mode-code-text-color-cm: #969896;
$dark-mode-code-text-color-cp: #969896;
$dark-mode-code-text-color-cs: #969896;
$dark-mode-code-text-color-err: #cc6666;
$dark-mode-code-text-color-gd-x: #cc6666;
$dark-mode-code-text-color-gd: #cc6666;
$dark-mode-code-text-color-gh: $dark-mode-code-text-color;
$dark-mode-code-text-color-gi-x: #b5bd68;
$dark-mode-code-text-color-gi: #b5bd68;
$dark-mode-code-text-color-go: #888;
$dark-mode-code-text-color-gp: #969896;
$dark-mode-code-text-color-gr: #a00;
$dark-mode-code-text-color-gt: #a00;
$dark-mode-code-text-color-gu: #8abeb7;
$dark-mode-code-text-color-h: $dark-mode-code-text-color;
$dark-mode-code-text-color-il: #de935f;
$dark-mode-code-text-color-k: #b294bb;
$dark-mode-code-text-color-kc: #b294bb;
$dark-mode-code-text-color-kd: #b294bb;
$dark-mode-code-text-color-kn: #b294bb;
$dark-mode-code-text-color-kp: #b294bb;
$dark-mode-code-text-color-kr: #b294bb;
$dark-mode-code-text-color-kt: #b294bb;
$dark-mode-code-text-color-l: #de935f;
$dark-mode-code-text-color-ld: #b5bd68;
$dark-mode-code-text-color-m: #de935f;
$dark-mode-code-text-color-mf: #de935f;
$dark-mode-code-text-color-mh: #de935f;
$dark-mode-code-text-color-mi: #de935f;
$dark-mode-code-text-color-mo: #de935f;
$dark-mode-code-text-color-n: #f0c674;
$dark-mode-code-text-color-na: #f0c674;
$dark-mode-code-text-color-nb: $dark-mode-code-text-color;
$dark-mode-code-text-color-nc: #f0c674;
$dark-mode-code-text-color-nd: #8abeb7;
$dark-mode-code-text-color-ne: #cc6666;
$dark-mode-code-text-color-nf: #81a2be;
$dark-mode-code-text-color-ni: $dark-mode-code-text-color;
$dark-mode-code-text-color-nl: #f0c674;
$dark-mode-code-text-color-nn: #f0c674;
$dark-mode-code-text-color-no: #cc6666;
$dark-mode-code-text-color-nt: #8abeb7;
$dark-mode-code-text-color-nv: #cc6666;
$dark-mode-code-text-color-nx: #81a2be;
$dark-mode-code-text-color-o: #8abeb7;
$dark-mode-code-text-color-ow: #8abeb7;
$dark-mode-code-text-color-p: $dark-mode-code-text-color;
$dark-mode-code-text-color-py: $dark-mode-code-text-color;
$dark-mode-code-text-color-s: #b5bd68;
$dark-mode-code-text-color-s1: #b5bd68;
$dark-mode-code-text-color-s2: #b5bd68;
$dark-mode-code-text-color-sb: #b5bd68;
$dark-mode-code-text-color-sc: $dark-mode-code-text-color;
$dark-mode-code-text-color-sd: #969896;
$dark-mode-code-text-color-se: #de935f;
$dark-mode-code-text-color-sh: #b5bd68;
$dark-mode-code-text-color-si: #de935f;
$dark-mode-code-text-color-sr: #b5bd68;
$dark-mode-code-text-color-ss: #b5bd68;
$dark-mode-code-text-color-sx: #b5bd68;
$dark-mode-code-text-color-vc: #cc6666;
$dark-mode-code-text-color-vg: #cc6666;
$dark-mode-code-text-color-vi: #cc6666;
$dark-mode-code-text-color-w: $dark-mode-code-text-color;


// ===
// Blockquotes
//
$blockquote-text-color:                         lighten($text-color, 20%) !default;
$blockquote-background-color:                   transparent !default;
$blockquote-tab-color:                          $brand-color !default;
$blockquote-tab-size:                           4px !default;
$blockquote-spacer:                             $spacing-unit / 2 !default;

$dark-mode-blockquote-text-color:               darken($dark-mode-text-color, 15%) !default;
$dark-mode-blockquote-background-color:         transparent !default;
$dark-mode-blockquote-tab-color:                $brand-color !default;

// ===
// Tables
//
$table-text-align:                              left !default;
$table-margin-bottom:                           $spacing-unit !default;
$table-border-color:                            $divider-color !default;
$table-text-color:                              $offset-color !default;
$table-heading-background-color:                $offset-background-color !default;
$table-heading-border-color:                    $divider-color !default;
$table-heading-border-bottom-color:             $divider-color !default;
$table-alt-row-background-color:                lighten($table-heading-background-color, 2%) !default;
$table-cell-border-color:                       $table-border-color !default;
$table-cell-vertical-padding:                   $spacing-unit / 3 !default;
$table-cell-horizontal-padding:                 $spacing-unit / 2 !default;

$dark-mode-table-border-color:                  $dark-mode-divider-color !default;
$dark-mode-table-text-color:                    $dark-mode-offset-color !default;
$dark-mode-table-heading-background-color:      $dark-mode-offset-background-color !default;
$dark-mode-table-heading-border-color:          $dark-mode-table-border-color !default;
$dark-mode-table-heading-border-bottom-color:   $dark-mode-table-border-color !default;
$dark-mode-table-alt-row-background-color:      $dark-mode-table-heading-background-color !default;
$dark-mode-table-cell-border-color:             $dark-mode-table-border-color !default;

// ===
// Content area
//
$content-width:                                 840px !default;

// ===
// Breakpoint sizes
//
$xs:                                            0 !default;
$sm:                                            544px !default;
$md:                                            768px !default;
$lg:                                            992px !default;
$xl:                                            1200px !default;
$mobile-breakpoint:                             $md !default;

// ===
// Site header
//
$header-title-font-family:                      'Raleway';//$base-heading-font-family; // TODO
$header-title-font-size:                        1.7rem;

$header-background-color:                       $background-color;
$header-text-color:                             $text-color;
$header-title-color:                            $heading-color;
$header-link-color:                             $text-color;
$header-divider-color:                          $divider-color;
$header-logo-border-color:                      $brand-color;
// $header-logo-box-shadow:                        0 0 3px 3px rgba($brand-color, 0.3);
$header-navigation-hover-color:                 $brand-color;
$header-navigation-active-color:                $brand-color;

$header-padding:                                $spacing-unit;
$header-vertical-padding:                       $spacing-unit * 2;
$header-width:                                  360px;
$header-logo-size:                              120px;

$header-title-mobile-font-size:                 1.4rem;
$header-mobile-vertical-padding:                $spacing-unit / 2;
$header-mobile-horizontal-padding:              $spacing-unit / 2;
$header-mobile-height:                          50px + ($header-mobile-vertical-padding * 2);
$header-mobile-menu-icon-background-color:      $header-background-color;
$header-mobile-menu-icon-color:                 $header-text-color;
$header-mobile-menu-icon-hover-color:           $brand-color;

$dark-mode-header-background-color:                   $dark-mode-background-color;
$dark-mode-header-text-color:                         $dark-mode-text-color;
$dark-mode-header-title-color:                        $dark-mode-heading-color;
$dark-mode-header-divider-color:                      $dark-mode-divider-color;
$dark-mode-header-link-color:                         $dark-mode-text-color;
$dark-mode-header-mobile-menu-icon-background-color:  $dark-mode-header-background-color;
$dark-mode-header-mobile-menu-icon-color:             $dark-mode-header-link-color;
$dark-mode-header-mobile-menu-icon-hover-color:       $brand-color;

// ===
// Site content
//
$content-vertical-spacing:                      $spacing-unit * 2;
$content-horizontal-spacing:                    $spacing-unit;
$content-mobile-vertical-spacing:               $spacing-unit / 2;
$content-mobile-horizontal-spacing:             $spacing-unit / 2;

// ===
// Post list
//
$post-list-item-gap:                            $spacing-unit / 2;

$post-list-item-title-font-size:                1.5rem;
$post-list-item-title-part-font-size:           1rem;
$post-list-item-subtitle-font-size:             1.1rem;
$post-list-item-summary-font-size:              1rem;
$post-list-item-meta-font-size:                 0.8rem;
$post-list-item-internal-gap:                   $spacing-unit / 4;

$mobile-post-list-item-title-font-size:         1.2rem;
$mobile-post-list-item-title-part-font-size:    0.95rem;
$mobile-post-list-item-subtitle-font-size:      1rem;
$mobile-post-list-item-summary-font-size:       1rem;
$mobile-post-list-item-meta-font-size:          0.75rem;
$mobile-post-list-item-internal-gap:            $spacing-unit / 4;

$post-list-item-title-color:                    $brand-color;
$post-list-item-title-hover-color:              $brand-color;
$post-list-item-title-part-color:               $text-color;
$post-list-item-subtitle-color:                 $text-color;
$post-list-item-summary-color:                  $text-color;
$post-list-item-meta-color:                     $meta-color;
$post-list-item-divider-color:                  $divider-color;
$post-list-item-divider-hover-color:            $brand-color;

$dark-mode-post-list-item-title-color:          $brand-color;
$dark-mode-post-list-item-title-part-color:     $dark-mode-text-color;
$dark-mode-post-list-item-subtitle-color:       $dark-mode-text-color;
$dark-mode-post-list-item-summary-color:        $dark-mode-text-color;
$dark-mode-post-list-item-meta-color:           $dark-mode-meta-color;
$dark-mode-post-list-item-divider-color:        $dark-mode-divider-color;

// ===
// Page
//
$page-title-font-size:                          $h1-font-size * 1.25;
$page-title-mobile-font-size:                   $h1-font-size * 0.9;
$page-title-part-font-size:                     $page-title-font-size * 0.75;
$page-title-part-mobile-font-size:              $page-title-mobile-font-size * 0.8;
$page-title-color:                              $heading-color;
$page-title-part-color:                         $text-color;
$page-title-divider-color:                      $divider-color;
$page-title-divider-highlight-color:            $brand-color;
$dark-mode-page-title-color:                    $dark-mode-heading-color;
$dark-mode-page-title-divider-color:            $dark-mode-divider-color;
$dark-mode-page-title-divider-highlight-color:  $brand-color;
$dark-mode-page-title-part-color:               $dark-mode-text-color;

$page-subtitle-font-size:                       $h2-font-size;
$page-subtitle-mobile-font-size:                $h2-font-size * 0.9;
$page-subtitle-color:                           $heading-color;
$dark-mode-page-subtitle-color:                 $dark-mode-heading-color;

$page-meta-font-size:                           0.8rem;
$page-meta-color:                               $meta-color;
$dark-mode-page-meta-color:                     $dark-mode-meta-color;

$page-content-vertical-spacing:                 $spacing-unit;
$page-content-mobile-vertical-spacing:          $spacing-unit;

// ===
// Theme toggle
//
$theme-toggle-background-color:                 $dark-mode-background-color;
$theme-toggle-text-color:                       $dark-mode-heading-color;

$dark-mode-theme-toggle-background-color:       $background-color;
$dark-mode-theme-toggle-text-color:             $text-color;

// ===
// Mixins
//
@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// ===
// Get started
//
@import
  "./base",
  "./layout",
  "./header",
  "./post-list",
  "./page",
  "./components",
  "./syntax-highlighting",
  "./dark-mode"
;

// ===
// Theme toggling
//

// In the default, light mode, if the theme-toggle 
// class is present on the body, apply dark-mode.
body.alternate-theme {
  @include dark-mode(true);
}

@media (prefers-color-scheme: dark) {
  // If the user prefers dark mode, apply the dark
  // mode theme.
  body {
    @include dark-mode(true);
  }

  // but if the theme-toggle class is present on 
  // the body, then apply light-mode instead
  body.alternate-theme {
    @include dark-mode(false);
  }
}
