$header-background: #33383f;
$header-foreground: #959ea9;
$header-title-color: #fff;
$header-border-color: #555e69;
$header-navigation-hover-color: $brand-color;
$header-navigation-active-color: $brand-color;

$header-mobile-padding: $spacing-unit / 2;
$header-mobile-height: 50px + ($header-mobile-padding * 2);
$header-mobile-menu-icon-color: $header-foreground;
$header-mobile-menu-icon-hover-color: $header-title-color;

$header-padding: $spacing-unit;
$header-width: 300px;
$header-logo-size: 120px;

body {
  padding-top: $header-mobile-height;
}

.site-header-2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-mobile-height;
  background: $header-background;
  color: $header-foreground;
  overflow: hidden;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }


  &.attached {
    position: fixed;
  }

  &.active {
    .navigation {
      left: 0;
      display: block;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @extend %no-clearfix;
  }

  .branding {
    display: flex;
    align-items: center;
    flex: 1;

    .logo {
      width: $header-mobile-height - ($header-mobile-padding * 2);
      height: $header-mobile-height - ($header-mobile-padding * 2);
      border-radius: 50%;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .identity {
      padding: 0 0 0 $header-mobile-padding;

      .title {
        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: -1px;
        color: $header-title-color;
        font-weight: bold;
      }

      .tagline {
        font-size: 0.8rem;
        margin-left: 0.1rem;
      }
    }
  }

  .navigation {
    display: none;
    position: fixed;
    top: $header-mobile-height;
    left: -100%;
    width: 100%;
    height: calc(100% - #{$header-mobile-height});
    background: $header-background;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid $header-border-color;
      font-size: 0.85em;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      text-align: center;
      
      li {
        padding: 0.5em 0;
        border-top: 1px solid $header-border-color;

        &.active {
          color: $header-navigation-active-color;
        }

        a:hover {
          color: $header-navigation-hover-color;
        }
      }
    }
  }

  .menu-icon {
    color: $header-mobile-menu-icon-color;
    fill: $header-mobile-menu-icon-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $header-mobile-menu-icon-hover-color;
      fill: $header-mobile-menu-icon-hover-color;
      cursor: pointer;
    }
  }
}

@include media($md) {
  body {
    padding-top: 0;
    padding-left: $header-width;
  }

  .site-header-2 {
    position: fixed;
    width: $header-width;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;

    .wrapper {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: $header-padding;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .branding {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .logo {
        width: $header-logo-size;
        height: $header-logo-size;

        img {
        }
      }

      .identity {
        margin-top: $header-padding / 2;
        padding: 0;
        text-align: center;
        
        .title {
          font-size: 1.5rem;
          line-height: 1.5;
        }

        .tagline {
          font-size: 0.9rem;
          line-height: 1.5;
        }
      }
    }

    .menu-icon {
      display: none;
    }

    .navigation {
      display: block;
      position: static;
      top: auto;
      left: auto;
      height: auto;
      margin-top: $header-padding / 2;
    }
  }
}
