@import "./header";

.site-container {
  display: flex;
  max-width: $content-width + $header-width;
  width: 100%;
  margin: 0 auto;
  padding-top: $header-mobile-height;
  
  @include media($md) {
    padding-top: 0;
    padding-left: $header-width;
  }
}

/**
 * Page content
 */
 .site-content {
  flex: 1;
  max-width: $content-width;
  width: 100%;

  .wrapper {
    padding: $content-mobile-vertical-spacing $content-mobile-horizontal-spacing;
  }

  @include media($md) {
    .wrapper {
      padding: $content-vertical-spacing $content-horizontal-spacing;
    }
  }
}

@import "./post-list";
@import "./page";
